@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
header, nav, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1100px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
    

main {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
}
.spring {
    grid-column-start: 1;
    grid-column-end: 4;
}
.spring img {
    }    
    .franklin img, .greenville img, .springfield img {
        margin: 1em;
    } 
    
    section h3{
        margin: .5em;
    }       
}