@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
header, nav, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1100px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
    

main {}
main figure.franklinphoto {
    display: none;  
    }
main figure.springfieldphoto {
    display: none;  
    }
main figure.greenvillephoto {
    display: none;  
    }
div.large {
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    
}
main figure.daisies {
    display: grid;  
}
main figure.springsun {
    display: grid;  
}
main figure.greennight {
    display: grid;  
}
    section div.container {
      display: grid;
      justify-content: center;
}   
    section{
        justify-content: space-around;
    }
    article p.town-article img {
        width: 33%;
    }
}